{% extends 'base.html' %}
{% from 'macro.html' import displayField %}
{% block title %} Change Password {% endblock %}

{% block content %}
<h2> Reset your password</h2>
<div class="form-input">
    <div class="form-input">
    <form action="{{ url_for('reset_password')}}" , method="POST">
        {{ form.csrf_token }}
        <p> Mail </p>
    {{ displayField(form.email, autocomplete="off", autofocus=true, class="form-control") }}
        <p>Password</p>
        {{ displayField(form.password, class="form-control") }}
        <p5>Confirm Password</p5>
        {{ displayField(form.repeat_password, class="form-control") }}
        </div>
    <div class="btn">
            <input type="submit" value="Create" class="button-submit">
        </div>
    </form>
    </div>
{% endblock %}