{% extends 'base.html' %}

</head>
{% block content %}
<body>

<div id ='options' class = 'options'>
<h1>{{poll_data.question}}</h1>
    <img src= "{{url_for('uploaded', filename = poll_data.cover)}}"  class="img-fluid" alt="Responsive image">

<form method="POST" action="{{ url_for('detail_view', id = poll_data.id) }}">
    {{ poll_data.csrf_token }}
    {% for element in poll_data.options %}
    <input type="radio" value ={{element.id}} name="result">
    {{element.choice}} <br>
{% endfor %}

 <button type="submit">Vote!</button> <br>
    <a href="/delete/{{poll_data.id}}"> Remove Poll </a>
    </form>
</div>

<script>

  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
  alert('{{message}}');
  {% endfor %}
  {% endwith %}

</script>
{% endblock %}