<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hard Rock Polls</title>
</head>
<body>
 <a href="{{ url_for('login') }}">log in</a>
 <a href="{{ url_for('logout') }}">log out</a>

<div id ='options' class = 'options'>
<h1>{{poll_data.question}}</h1>
<form method="POST" action="{{ url_for('detail_view', id = poll_data.id) }}">
{% for element in poll_data.options %}
<input type="radio" value ={{element}} name="result">
    {{element}} <br>
{% endfor %}
 <button type="submit">Vote!</button>
    </form>
</div>
<div id="results" class = "results">
    {% for element in stats %}
{{element}}
    {% endfor %}
</div>
<script>

  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
  alert('{{message}}');
  {% endfor %}
  {% endwith %}

</script>
</body>
</html>