{% extends 'base.html' %}
{% from 'macro.html' import displayField %}
{% block title %} Registration {% endblock %}

{% block content %}
<h1> Please register to create your own polls!</h1>
<div class="form-input">
    <form action="{{ url_for('register')}}" , method="POST">
        <p5>Username</p5>
        {{ displayField(form.username, autocomplete="off", autofocus=true, class="form-control") }}
        {% if form.username.errors %}
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
        {% endif %}
        <p5>Mail</p5>
        {{ displayField(form.mail, autocomplete="off", autofocus=true, class="form-control") }}
        {% if form.mail.errors %}
        {% for error in form.mail.errors %}
          {{ error }}
        {% endfor %}
        {% endif %}
        <p5>Password</p5>
        {{ displayField(form.password, class="form-control") }}
        {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
        {% endif %}
        <p5>Retype Password</p5>
        {{ displayField(form.confirm_password, class="form-control") }}
        <div class="btn">
            <input type="submit" value="Create" class="button-submit">
        </div>
</div>
        {{ form.csrf_token }}
    </form>
</div>

<div class="link">
    <p>Already registered? <a href="/login/">Login here</a></p>
</div>
{% endblock %}

